@font-face {
  font-family: 'opensans-regular';
  src: url('../fonts/opensans/OpenSans-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/opensans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/opensans/OpenSans-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/opensans/OpenSans-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/opensans/OpenSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/opensans/OpenSans-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'opensans-extrabold';
  src: url('../fonts/opensans/OpenSans-ExtraBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/opensans/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/opensans/OpenSans-ExtraBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/opensans/OpenSans-ExtraBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/opensans/OpenSans-ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/opensans/OpenSans-ExtraBold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'opensans-semibold';
  src: url('../fonts/opensans/OpenSans-Semibold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/opensans/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/opensans/OpenSans-Semibold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/opensans/OpenSans-Semibold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/opensans/OpenSans-Semibold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/opensans/OpenSans-Semibold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'ubuntu-mono';
  src: url('../fonts/ubuntumono/UbuntuMono-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'opensans-regular', sans-serif;
/* hide horizontal scrollbars, since we use the vertical ones to scroll to the right */
  overflow-x: hidden;
  background: url('../images/hintergrund_main.jpg') repeat top left;
  background-attachment: fixed;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.45em;
  color: #404040;
}

img {
    vertical-align: baseline;
    opacity: 0.8;
}

a {
	color: #fff;
	font-family: 'opensans-semibold', 'sans-serif';
    text-decoration: underline;
}

a:hover, a:focus {
    color: #fff;
}

.highlight {
	font-family: 'opensans-semibold', 'sans-serif';
    color: #fff;
}

.left {
    float: left;
}

.right {
    float: right;
}

/* Navigation */
nav {
	margin: 0 auto;
	left: 0;
	right: 0;
	text-align: center;
	position: fixed;
	bottom: 1em;
	z-index: 255;
}

nav > ul {
	list-style-type: none;
}

nav > ul > li {
	display: inline;
	margin: 0 2em;
}

#nav-pointer-bicycle {
    display: none;
    -webkit-transition: 2.5s;
    -moz-transition: 2.5s;
    position: absolute;
    left: 0;
    bottom: 3em;
}

.anchors a {
	display: block;
	position: absolute;
}

#einleitendes {	top: 0; }
#tauschsticker { top: 1836px; }
#pinnwaende { top: 3700px; }
#uebersichtskarte { top: 5600px; }
#ausleitendes { top: 7500px; }

h1 {
	font-family: 'opensans-extrabold', 'sans-serif';
	font-size: 1.714em;
	line-height: 1.4em;
	color: #fff;
}

/**
  * important: keep position fixed, you can however use top:0 instead of bottom:0
  * if you want to make it stick to the top of the browser
  */
.scroll {
  position: fixed;
  bottom: 0;
  left: 0;
}

/**
  * z-index ordering of the different layers, do this for your layers,
  * also assign absolute width (to prevent issues if the script gets executed before the images get loaded)
  */
.horizon {
  z-index: 1;
  width: 100px;
  top: 0;
}

.middle {
  z-index: 500;
  width: 2000px;
  bottom: 6em;
}

.front {
  z-index: 1000;
  width: 8000px;
}

.image-parallax {
	opacity: 0.8;
}

/* Inhaltselemente 1336x768 */
#container-content-1 {
    left: 408px; /* ok */
}
#container-content-2 {
    left: 1704px; /* ok */
}
#container-content-3 {
    left: 3045px; /* ok */
}
#container-content-4 {
    left: 4400px; /* ok */
}
#container-content-5 {
    left: 5732px; /* ok */
}
.page {
    bottom: 320px;
    width: 600px;
    position: absolute;
}

/* Full-HD Positionierung */
@media only screen and (min-width: 1920px) {

div#container-content-1 {
    left: 50em;
}

div#container-content-2 {
left: 140em;}

div.page {
    bottom: 30em;
}

div#container-content-3 {
    left: 230em;
}

div#container-content-4 {
    left: 320em;
}

div#container-content-5 {
    left: 410em;
}

}

/* Formular */
.form-control {
    background-color: transparent;
    border: 3px solid #6C6057;
    text-transform: uppercase;
    color: #404040;
    margin: 0.4em 0;
    font-family: 'ubuntu-mono', 'mono';
}

.form-control:focus {
    border-color: #313131;
    box-shadow: none;
}

::-webkit-input-placeholder {
   color: #404040!important;
}

:-moz-placeholder { /* Firefox 18- */
   color: #404040!important;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #404040!important;  
}

:-ms-input-placeholder {  
   color: #404040!important;  
}

#overlay {
    z-index: 1001;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
}

#overlay-content {
    z-index: 1002;
    width: 850px;
    background-color: #fff;
    background: url('../images/hintergrund_main.jpg');
    height: 100%;
    margin: 0 auto;
    padding: 60px;
}

#overlay .open-close-form {
    float: right;
    text-decoration: none;
    font-size: 1.4rem;
}

#overlay-content-txt, #overlay-content-icons {
    width: 600px;
    height: 20%;
    margin: 0 auto;
}

#overlay-content-form {

}

.icon-link-selected {
    border-bottom: 3px solid #fff;
}

.icon {
    padding: 0.375em;
}

#anmerkungen {
    height: 203px;
}

.form-textarea,
.form-fields,
.form-button {
    width: 45%;
    margin: 2.5%;
}

#sendmail {
    background: transparent;
    border: none;
    font-family: 'opensans-extrabold' ,sans-serif;
    font-size: 1.714rem;
    line-height: 1.4rem;
    text-decoration: underline;
    padding: 0;
}

.form-confirm {
    clear: both;
    margin: 2.5%;
}

#vorname, #strasse, #plz {
    float: left;
    margin-right: 1%;
    width: 48%;
}

#nachname, #hausnummer, #ort {
    float: right;
    width: 48%;
}

#zustimmung {
    width: 1em;
    height: 1em;
}
