/* Stylesheet fuer die Kartenansicht von Menschen Nebenan */

body {
    margin:0;
    padding:0;
    background-image: none;
}

img {
    opacity: 0.8;
}

#map {
    position:absolute;
    top:0;
    bottom:0;
    width: 100%;
}

.filter-ui {
    background:#fff;
    position:absolute;
    top:10px;
    right:10px;
    z-index:100;
    padding:10px;
    border-radius:3px;
}

#sidebar {
    background: url('../images/hintergrund_karte.png');
    background-repeat: repeat-y;
    max-width: 364px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
}

.sidebar-content {
    padding: 0 2em;
}

.sidebar-content > h1 {
    margin-top: 0;
    padding-top: 1em;
}

.tooltip-title {
    color: #404040;
}
